{% extends './layout.html' %}
{% block head %}
	<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block content %}
<div class="main">
	<div class="instruc">
		<div class="item-title">
			<p class="title-top"><span>公</span><span>司</span><span>简</span><span>介</span></p>
			<p><span>COMPANY</span><span>PROFILE</span></p>
		</div>
		<div class="company-detail">
			<div class="instruc-img">
				<img src="images/instruc.png" alt="">
			</div>
			<div class="instruc-detail">
				<div class="instruc-title">
					<span>关于辛普森</span>
				</div>
				<div class="sps-detail">河南辛普森科技有限公司成立于2017年4月，注册资金100万元人民币，公司主营自动阅读”项目，自主研发信息数据管理系统。主要功能是能够批量处理多个手机，代替人工阅读，助理企业管理者合理调配资源、科学流转信息，快速统计数据，为企业发展决策提供详尽的數据支持，为企业给予有效的帮助。本着数据真实可靠，尊重科学的原则，在大数据行业中精耕细作，力求把每个数据的价值发挥到最大，为客户提供最专业的服务。
				</div>
			</div>
		</div>
	</div>
	<div class="product">
		<div class="item-title">
			<p class="title-top"><span>产</span><span>品</span><span>中</span><span>心</span></p>
			<p><span>PRODUCT</span><span>CENTER</span></p>
		</div>
		<div class="common-detail">
			<div class="common-img">
				<img src="images/product1.png" alt="">
				<div class="common-bottom">
					<span>批量自动化阅读</span>
				</div>
			</div>
			<div class="common-img">
				<img src="images/product2.png" alt="">
				<div class="common-bottom">
					<span>模拟真实用户</span>
				</div>
			</div>
			<div class="common-img">
				<img src="images/product3.png" alt="">
				<div class="common-bottom">
					<span>实现收益最大化</span>
				</div>
			</div>
		</div>
	</div>
	<div class="advantage">
		<div class="item-title">
			<p class="title-top"><span>我</span><span>们</span><span>的</span><span>优</span><span>势</span></p>
			<p><span>OUR</span><span>ADVANTAGE</span></p>
		</div>
		<div class="common-detail">
			<div class="common-img">
				<img src="images/advantage1.png" alt="">
				<div class="common-bottom">
					<span>专业的开发设计团队</span>
				</div>
			</div>
			<div class="common-img">
				<img src="images/advantage2.png" alt="">
				<div class="common-bottom">
					<span>强大的产品销售团队</span>
				</div>
			</div>
			<div class="common-img">
				<img src="images/advantage3.png" alt="">
				<div class="common-bottom">
					<span>贴心的售后服务渠道</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block end %}
<script src="/js/index.js"></script>
{% endblock %}